cacheExpirationTime="-1"
customExcludedPaths=[ \
  "/group/eft-connect/reports", \
  "/group/eft-connect/cards", \
  "/group/eft-connect/transactions", \
  "/group/eft-connect/archive-search", \
  "/web/cuscal/self-service", \
  "/self-service", \
  ]
disableInInternetExplorer="true"
disableInInternetExplorer11="true"
navigationExceptionSelectors=[ \
  ":not([target\=\"_blank\"])", \
  ":not([data-senna-off])", \
  ":not([data-resource-href])", \
  ]
requestTimeout="0"
userNotificationTimeout="30000"
