<div class="container-fluid container-fluid-max-xl px-0" id="footer-fragment">
  <div class="footer-fragment">
    <ul class="footer-fragment__list">
      <li class="footer-fragment__list__item">
        <lfr-editable id="link-1" type="text">
          © Cuscal Limited
        </lfr-editable>	
      </li>
      <li class="footer-fragment__list__item">
        <lfr-editable id="link-4" type="link">
          <a href="https://www.cuscalpayments.com.au/privacy/" id="footer-link">Privacy</a>
        </lfr-editable>
      </li>
      <li class="footer-fragment__list__item">
        <lfr-editable id="link-3" type="link">
          <a href="https://www.cuscalpayments.com.au/legal/" id="footer-link">Legal</a>
        </lfr-editable>
      </li>
      <li class="footer-fragment__list__item">
        <lfr-editable id="link-2" type="link">
          <a href="https://www.cuscalpayments.com.au/aml/" id="footer-link">AML</a>
        </lfr-editable>
      </li>
      <li class="footer-fragment__list__item">
        <lfr-editable id="link-7" type="link">
          <a href="https://www.cuscalpayments.com.au/security/" id="footer-link">Security</a>
        </lfr-editable>
      </li>
      <li class="footer-fragment__list__item">
        <lfr-editable id="link-5" type="link">
          <a href="/cuscal-connect-terms-and-conditions" id="footer-link">Terms & Conditions</a>
        </lfr-editable>
      </li>
      <li class="footer-fragment__list__item">
        <lfr-editable id="link-6" type="link">
          <a href="/contact-us" id="footer-link">Contact Us</a>
        </lfr-editable>
      </li>
  
    </ul>
  </div>
  </div>