<script type="text/javascript" src="/CuscalTheme-theme/js/jquery.min.js"></script>
<script type="text/javascript"
	src="/CuscalTheme-theme/js/jquery.cycle.all.latest.js"></script>
<script type="text/javascript">
$(document).ready(function() {
        document.getElementById('backgrounddiv').display = 'absolute';                     
                    
	//For the fader
	$(".fader").cycle({
		fx: 'fade',  //Try fade, scrollLeft, scrollRight, scrollUp, scrollDown, cover
		speed: 'slow',
		timeout: 5000,
		pause: 1
		
	});
	

});
</script>



#set($AssetTagLocalService =
$serviceLocator.findService("com.liferay.portlet.asset.service.AssetTagLocalService"))
#set ($searchTag = "breaking news") #set($articles =
$JournalArticleLocalService.getArticles($getterUtil.getLong($request.theme-display.scope-group-id)))
#set($assetTag = $AssetTagLocalService.getTag($getterUtil.getLong($request.theme-display.scope-group-id),$searchTag))
#if($assetTag.getAssetCount() >0) #set($breakingNews = "available") #end

<div id="contentWrapperHome">
<div id="home">
<div id="faderDiv">
<div id="fader" class="fader">

#foreach($banner in $bannerImage.getSiblings())
#if($velocityCount ==1)
<div id="backgrounddiv"><img src="$banner.getData()">
#else
<div id="backgrounddiv" style="display:none"><img src="$banner.getData()">
#end
<p>
<h1>
<div id="homeBgHeader">$heading.getData()</div>
<div id="homeBgHeaderContent">$mainContent.getData()</div>
</h1>

</p>

</div>
#end
</div>
<div id="featuresDiv">
<div id="features">
<ul>
	#if($featuredContent1.getData()!= "")
	<li>

	<div class="content">$featuredContent1.getData()</div>

	</li>
	#end #if($featuredContent2.getData()!= "")
	<li>
<div class="content">$featuredContent2.getData()</div>
	</li>
	#end #if($featuredContent3.getData()!= "")
	<li>
<div class="content">$featuredContent3.getData()</div>
	</li>
	#end #if($featuredContent4.getData()!= "")
	<li>

<div class="content">$featuredContent4.getData()</div>
	</li>
	#end
</ul>

</div>
</div>
</div>
<div id="breakingNewsDiv">
#if($breakingNews == "available")


<div id="breakingNews">
<runtime-portlet
	name="$brNewsid.getData()" /></div>

<div id="NewsSection">
<h2>$newsHeading.getData()</h2>
<div id="newsItems4" >

<runtime-portlet name="$newsid1.getData()" /></div>
</div>
#else

<h2>$newsHeading.getData()</h2>


<div id="newsItems6">
<runtime-portlet
	name="$newsid2.getData()" /></div>
#end</div>
</div>
</div>


<script>window.onload = function () { 
if(document.getElementsByTagName("html")[0].className.indexOf("firefox") == -1) {
if(document.getElementById('primaryNav')!=null) { 
document.getElementById('primaryNav').style.marginBottom = 0 +'px'; } } else {
if(document.getElementById('contentWrapper2') != null)
document.getElementById('contentWrapper2').style.marginTop = -30 +'px';}
};
</script>