<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

	<context:annotation-config />
	<context:property-placeholder location="classpath*:WEB-INF/datasources.properties" />

	<tx:annotation-driven transaction-manager="hibernateTransactionManager" />

	<!-- Connection Pool 

	<bean id="dataSource"	class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${jdbc.default.driverClassName}" /> 
		<property name="url" value="${jdbc.default.url}" />
		<property name="username" value="${jdbc.default.username}" />
		<property name="password" value="${jdbc.default.password}" />
	</bean>-->
	
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" /> 
		<property name="url" value="jdbc:oracle:thin:@SUDBT04:1523:MULTIDBD" />
		<property name="username" value="LIFERAY_RBHARARA" />
		<property name="password" value="Sydney1#" />
	</bean>
	
	
	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>			
			    <value>au.com.cuscal.connect.domain.ReportTypeCategory</value>				
				<value>au.com.cuscal.connect.domain.ReportType</value>
				<value>au.com.cuscal.connect.domain.ReportFrequency</value>				
				<value>au.com.cuscal.connect.domain.ReportMetadata</value> 
				<value>au.com.cuscal.connect.domain.ReportOwner</value>		
				<value>au.com.cuscal.connect.domain.ReportAccess</value>		
				<value>au.com.cuscal.connect.domain.ReportBlob</value>		
				<value>au.com.cuscal.connect.domain.ReportMetaBlobKey</value>		
				<value>au.com.cuscal.connect.domain.ReportPortalPermissions</value>		
				<value>au.com.cuscal.connect.domain.ReportPortalUsersFavourite</value>							
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<!--  <prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.jdbc.use_get_generated_keys">${hibernate.jdbc.use_get_generated_keys}</prop>-->				
				
				<prop key="hibernate.dialect">org.hibernate.dialect.Oracle9iDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.jdbc.use_get_generated_keys">false</prop>
				
			</props>
		</property>
	</bean>

	<bean id="hibernateTransactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="reportMetadataDao" class="au.com.cuscal.connect.dao.ReportMetadataDaoImpl" />

</beans>