blacklistComponentNames=[ \
  "com.liferay.asset.publisher.web.internal.portlet.toolbar.contributor.AssetPublisherPortletToolbarContributor", \
  "com.liferay.portal.security.sso.opensso.internal.auto.login.OpenSSOAutoLogin", \
  "com.liferay.portal.security.ldap.internal.model.listener.ContactModelListener", \
  "com.liferay.portal.security.ldap.internal.model.listener.UserModelListener", \
  "com.liferay.social.bookmark.facebook.internal.FacebookSocialBookmark", \
  "com.liferay.social.bookmark.linkedin.internal.LinkedInSocialBookmark", \
  "com.liferay.social.bookmark.twitter.internal.TwitterSocialBookmark", \
  ]